## 1. Data Cleaning

#### 1.1 Import necessary modules and libraries and initiate the project

In [1]:
import os
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from IPython.display import display, Markdown
import warnings
warnings.filterwarnings('ignore')

# Add path to the Static Data directory
input_dir = "../data/DMRC_GTFS/"
output_dir = "../data/cleaned_data/"

#### 1.2 Load the Data

In [2]:
routes = pd.read_csv(input_dir + 'routes.txt')
stops = pd.read_csv(input_dir + 'stops.txt')
trips = pd.read_csv(input_dir + 'trips.txt')
stop_times = pd.read_csv(input_dir +  'stop_times.txt')
shapes = pd.read_csv(input_dir +  'shapes.txt')
agency = pd.read_csv(input_dir + 'agency.txt')
calendar = pd.read_csv(input_dir + 'calendar.txt')

#### 1.3 Handle Missing Values

In [3]:
display(Markdown("##### Null values in routes dataframe"))
print(routes.isnull().sum())

##### Null values in routes dataframe

route_id                0
agency_id              36
route_short_name        0
route_long_name         0
route_desc             36
route_type              0
route_url              36
route_color            36
route_text_color       36
route_sort_order       36
continuous_pickup      36
continuous_drop_off    36
dtype: int64

In [4]:
display(Markdown("##### Null values in stops dataframe"))
print(stops.isnull().sum())

##### Null values in stops dataframe

stop_id        0
stop_code    262
stop_name      0
stop_desc    262
stop_lat       0
stop_lon       0
dtype: int64

In [5]:
display(Markdown("##### Null values in trips dataframe"))
print(trips.isnull().sum())

##### Null values in trips dataframe

route_id                    0
service_id                  0
trip_id                     0
trip_headsign            5438
trip_short_name          5438
direction_id             5438
block_id                 5438
shape_id                    0
wheelchair_accessible       0
bikes_allowed               0
dtype: int64

In [6]:
display(Markdown("##### Null values in stop_times dataframe"))
print(stop_times.isnull().sum())

##### Null values in stop_times dataframe

trip_id                     0
arrival_time                0
departure_time              0
stop_id                     0
stop_sequence               0
stop_headsign          128434
pickup_type                 0
drop_off_type               0
shape_dist_traveled         0
timepoint                   0
continuous_pickup      128434
continuous_drop_off    128434
dtype: int64

In [7]:
display(Markdown("##### Null values in shapes dataframe"))
print(shapes.isnull().sum())

##### Null values in shapes dataframe

shape_id               0
shape_pt_lat           0
shape_pt_lon           0
shape_pt_sequence      0
shape_dist_traveled    0
dtype: int64

In [8]:
display(Markdown("##### Null values in agency dataframe"))
print(agency.isnull().sum())

##### Null values in agency dataframe

agency_id          0
agency_name        0
agency_url         0
agency_timezone    0
agency_lang        1
agency_phone       1
agency_fare_url    1
agency_email       1
dtype: int64

In [9]:
display(Markdown("##### Null values in calendar dataframe"))
print(calendar.isnull().sum())

##### Null values in calendar dataframe

service_id    0
monday        0
tuesday       0
wednesday     0
thursday      0
friday        0
saturday      0
sunday        0
start_date    0
end_date      0
dtype: int64

#### 1.4 Remove columns with all NaN values

In [10]:
routes_cleaned = routes.dropna(axis=1, how='all')
stops_cleaned = stops.dropna(axis=1, how='all')
trips_cleaned = trips.dropna(axis=1, how='all')
stop_times_cleaned = stop_times.dropna(axis=1, how='all')
shapes_cleaned = shapes.dropna(axis=1, how='all')
agency_cleaned = agency.dropna(axis=1, how='all')
calendar_cleaned = calendar.dropna(axis=1, how='all')

#### 1.5 Printing shape and first 5 rows of all the cleaned dataframes

In [11]:
print(routes_cleaned.shape)
routes_cleaned.head()

(36, 4)

,route_id,route_short_name,route_long_name,route_type
0,33,R_SP_R,RAPID_Phase 3 (Rapid Metro) to Sector 55-56 (R...,1
1,31,G_DD_R,GRAY_Dhansa Bus Stand to Dwarka,1
2,29,P_MS_R,PINK_Shiv Vihar to Majlis Park,1
3,12,M_JB,MAGENTA_Janak Puri West to Botanical Garden,1
4,11,P_MS,PINK_Majlis Park to Shiv Vihar,1

In [12]:
print(stops_cleaned.shape)
stops_cleaned.head()

(262, 4)

   stop_id       stop_name   stop_lat   stop_lon
0        1  Dilshad Garden  28.675991  77.321495
1        2         Jhilmil  28.675648  77.312393
2        3  Mansrover park  28.675352  77.301178
3        4        Shahdara  28.673531  77.287270
4        5         Welcome  28.671986  77.277931

In [13]:
print(trips_cleaned.shape)
trips_cleaned.head()

(5438, 6)

,route_id,service_id,trip_id,shape_id,wheelchair_accessible,bikes_allowed
0,0,weekday,0,shp_1_30,0,0
1,0,weekday,1,shp_1_30,0,0
2,0,weekday,10,shp_1_30,0,0
3,0,weekday,100,shp_1_30,0,0
4,2,weekday,1000,shp_1_13,0,0

In [14]:
print(stop_times_cleaned.shape)
stop_times_cleaned.head()

(128434, 9)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,0,05:28:08,05:28:28,21,0,0,0,0.000,1
1,0,05:30:58,05:31:18,20,1,0,0,1202.405,1
2,0,05:33:28,05:33:48,19,2,0,0,2480.750,1
3,0,05:35:33,05:35:53,18,3,0,0,3314.936,1
4,0,05:37:53,05:38:13,17,4,0,0,4300.216,1

In [15]:
print(shapes_cleaned.shape)
shapes_cleaned.head()

(6643, 5)

  shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence  shape_dist_traveled
0  shp_1_2     28.615887     77.022461                  1                0.000
1  shp_1_2     28.616341     77.022499                  2               50.510
2  shp_1_2     28.617985     77.022453                  3              233.586
3  shp_1_2     28.618252     77.022453                  4              263.487
4  shp_1_2     28.618425     77.022438                  5              282.857

In [16]:
print(agency_cleaned.shape)
agency_cleaned.head()

(1, 4)

,agency_id,agency_name,agency_url,agency_timezone
0,DMRC,Delhi Metro Rail Corporation,http://www.delhimetrorail.com/,Asia/Kolkata

In [17]:
print(calendar_cleaned.shape)
calendar_cleaned.head()

(3, 10)

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,weekday,1,1,1,1,1,0,0,20190101,20251231
1,saturday,0,0,0,0,0,1,0,20190101,20251231
2,sunday,0,0,0,0,0,0,1,20190101,20251231

#### 1.6 Check and remove duplicates

In [18]:
routes_cleaned.drop_duplicates(inplace=True)
stops_cleaned.drop_duplicates(inplace=True)
stop_times_cleaned.drop_duplicates(inplace=True)
shapes_cleaned.drop_duplicates(inplace=True)

#### 1.7 Removing irrelevant attributes

In [19]:
# routes_cleaned dataframe has `route_short_name` which is a redundant way to recognise the routes and `route_type` which is always 1.
routes_cleaned = routes_cleaned.drop(columns=['route_short_name', 'route_type'])
routes_cleaned.head(2)

   route_id                                    route_long_name
0        33  RAPID_Phase 3 (Rapid Metro) to Sector 55-56 (R...
1        31                    GRAY_Dhansa Bus Stand to Dwarka

In [20]:
# stops_times_cleaned dataframe has pickup_type and drop_off_type which are arrays of a single value i.e 0
# Similarly it has timepoint that is 1 for all rows.
stop_times_cleaned = stop_times_cleaned.drop(columns=['pickup_type', 'drop_off_type', 'timepoint'])
stop_times_cleaned.head(2)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,shape_dist_traveled
0,0,05:28:08,05:28:28,21,0,0.000
1,0,05:30:58,05:31:18,20,1,1202.405

In [21]:
# Values for wheelchair_accessible and bikes_allowed are 0 in dataframe trips_cleaned
trips_cleaned = trips_cleaned.drop(columns=['wheelchair_accessible', 'bikes_allowed'])
trips_cleaned.head(2)

   route_id service_id  trip_id  shape_id
0         0    weekday        0  shp_1_30
1         0    weekday        1  shp_1_30

#### 1.8 Export data to data/cleaned_data

In [22]:
# Create directory if it doesn't exist
output_dir = '../data/cleaned_data'
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

routes_cleaned.to_csv(os.path.join(output_dir, 'routes.csv'), index=False)
stops_cleaned.to_csv(os.path.join(output_dir, 'stops.csv'), index=False)
trips_cleaned.to_csv(os.path.join(output_dir, 'trips.csv'), index=False)
shapes_cleaned.to_csv(os.path.join(output_dir, 'shapes.csv'), index=False)
stop_times_cleaned.to_csv(os.path.join(output_dir, 'stop_times.csv'), index=False)
agency_cleaned.to_csv(os.path.join(output_dir, 'agency.csv'), index=False)
calendar_cleaned.to_csv(os.path.join(output_dir, 'calendar.csv'), index=False)