## 2. Data Preprocessing

#### 2.1 Import libraries and Data Loading

##### 2.1.1 Import Libraries

In [1]:
import os
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from IPython.display import display, Markdown
import warnings
warnings.filterwarnings('ignore')

# Add path to the Static Data directory
input_dir = "../data/cleaned_data/"
output_dir = "../data/processed_data/"

##### 2.1.2 Load the Datasets

In [2]:
routes = pd.read_csv(input_dir + 'routes.csv')
stops = pd.read_csv(input_dir + 'stops.csv')
trips = pd.read_csv(input_dir + 'trips.csv')
stop_times = pd.read_csv(input_dir +  'stop_times.csv')
shapes = pd.read_csv(input_dir +  'shapes.csv')
agency = pd.read_csv(input_dir + 'agency.csv')
calendar = pd.read_csv(input_dir + 'calendar.csv')

#### 2.2 Displaying First Few Rows of DataFrames

In [3]:
display(Markdown("#### routes"),routes.head(2))
display(routes.info())

#### routes

   route_id                                    route_long_name
0        33  RAPID_Phase 3 (Rapid Metro) to Sector 55-56 (R...
1        31                    GRAY_Dhansa Bus Stand to Dwarka

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   route_id         36 non-null     int64
 1   route_long_name  36 non-null     object
dtypes: int64(1), object(1)
memory usage: 708.0+ bytes

None

In [4]:
display(Markdown("#### trips"), trips.head(2))
display(trips.info())

#### trips

   route_id service_id  trip_id  shape_id
0         0    weekday        0  shp_1_30
1         0    weekday        1  shp_1_30

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5438 entries, 0 to 5437
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   route_id    5438 non-null   int64
 1   service_id  5438 non-null   object
 2   trip_id     5438 non-null   int64
 3   shape_id    5438 non-null   object
dtypes: int64(2), object(2)
memory usage: 170.1+ KB

None

In [5]:
display(Markdown("#### stops"), stops.head(2))
display(stops.info())

#### stops

   stop_id       stop_name   stop_lat   stop_lon
0        1  Dilshad Garden  28.675991  77.321495
1        2         Jhilmil  28.675648  77.312393

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   stop_id    262 non-null    int64
 1   stop_name  262 non-null    object
 2   stop_lat   262 non-null    float64
 3   stop_lon   262 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.3+ KB

None

In [6]:
display(Markdown("#### stop_times"), stop_times.head(2))
display(stop_times.info())

#### stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,shape_dist_traveled
0,0,05:28:08,05:28:28,21,0,0.000
1,0,05:30:58,05:31:18,20,1,1202.405

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128434 entries, 0 to 128433
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   trip_id              128434 non-null  int64
 1   arrival_time         128434 non-null  object
 2   departure_time       128434 non-null  object
 3   stop_id              128434 non-null  int64
 4   stop_sequence        128434 non-null  int64
 5   shape_dist_traveled  128434 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 5.9+ MB

None

In [7]:
display(Markdown("#### shapes"), shapes.head(2))
display(shapes.info())

#### shapes

  shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence  shape_dist_traveled
0  shp_1_2     28.615887     77.022461                  1                 0.00
1  shp_1_2     28.616341     77.022499                  2                50.51

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6643 entries, 0 to 6642
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   shape_id             6643 non-null   object
 1   shape_pt_lat         6643 non-null   float64
 2   shape_pt_lon         6643 non-null   float64
 3   shape_pt_sequence    6643 non-null   int64
 4   shape_dist_traveled  6643 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 259.6+ KB

None

In [8]:
display(Markdown("#### calendar"), calendar.head(2))
display(calendar.info())

#### calendar

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,weekday,1,1,1,1,1,0,0,20190101,20251231
1,saturday,0,0,0,0,0,1,0,20190101,20251231

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   service_id  3 non-null      object
 1   monday      3 non-null      int64
 2   tuesday     3 non-null      int64
 3   wednesday   3 non-null      int64
 4   thursday    3 non-null      int64
 5   friday      3 non-null      int64
 6   saturday    3 non-null      int64
 7   sunday      3 non-null      int64
 8   start_date  3 non-null      int64
 9   end_date    3 non-null      int64
dtypes: int64(9), object(1)
memory usage: 372.0+ bytes

None

In [9]:
display(Markdown("#### agency"), agency.head(2))
display(agency.info())

#### agency

,agency_id,agency_name,agency_url,agency_timezone
0,DMRC,Delhi Metro Rail Corporation,http://www.delhimetrorail.com/,Asia/Kolkata

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   agency_id        1 non-null      object
 1   agency_name      1 non-null      object
 2   agency_url       1 non-null      object
 3   agency_timezone  1 non-null      object
dtypes: object(4)
memory usage: 164.0+ bytes

None

#### 2.3 Identify primary keys and foreign keys

##### 2.3.1 Primary Key

In [10]:
# route_id is the primary key in routes and serves as a foreign key in trips
print("Unique route_id count:", routes['route_id'].nunique())

# stop_id is the primary key in stops and serves as a foreign key in stop_times
print("Unique stop_id count:", stops['stop_id'].nunique())

# trip_id is the primary key in trips and serves as a foreign key in stop_times
print("Unique trip_id count:", trips['trip_id'].nunique())

# shape_id is NOT a primary key in shapes but serves as a link between shapes and trips
# Unique identifiers in shapes is the combination of shape_pt_lat and shape_pt_lon
print("Unique shape_id count:", shapes['shape_id'].nunique())

# service_id is a primary key in calendar and serves as a foreign key in trips
print("Unique shape_id count:", calendar['service_id'].nunique())

Unique route_id count: 36
Unique stop_id count: 262
Unique trip_id count: 5438
Unique shape_id count: 36
Unique shape_id count: 3

##### 2.3.2 Foreign Keys

In [11]:
# 1. Ensure that route_id in trips has matching values in trips
print("Are all route_id in trips valid?", trips['route_id'].isin(trips['route_id']).all())

# 2. Ensure that stop_id in stop_times has matching values in stops
print("Are all stop_id in stop_times valid?", stop_times['stop_id'].isin(stops['stop_id']).all())

# 3. Ensure that trip_id in stop_times has matching values in trips
print("Are all trip_id in stop_timesvalid?", stop_times['trip_id'].isin(trips['trip_id']).all())

# 4. Ensure that shape_id in trips has matching values in shapes
print("Are all shape_id in trips valid?", trips['shape_id'].isin(shapes['shape_id']).all())

# 5. Check for uniqueness in shapes using shape_pt_lat and shape_pt_lon
print("Is the combination of shape_pt_lat and shape_pt_lon unique in shapes?", 
      shapes[['shape_pt_lat', 'shape_pt_lon']].duplicated().any())

Are all route_id in trips valid? True
Are all stop_id in stop_times valid? True
Are all trip_id in stop_timesvalid? True
Are all shape_id in trips valid? True
Is the combination of shape_pt_lat and shape_pt_lon unique in shapes? True

#### 2.4 Relational Analysis (ORM)

<img src="img/dataframe_relationship_mapping.png" width=600 height=60 />

#### 2.5 Data Validation

##### 2.5.1 Check for Unique Mapping of `shape_id` and `route_id`

In [12]:
# Check for unique route_id per shape_id
unique_route_check = trips.groupby('shape_id')['route_id'].nunique()
non_unique_routes = unique_route_check[unique_route_check > 1]

if not non_unique_routes.empty:
    print("Shape IDs with non-unique Route IDs:", non_unique_routes.index.tolist())
else:
    print("Each Shape ID has a unique Route ID.")

Each Shape ID has a unique Route ID.

In [13]:
# Check for unique shape_id per route_id
unique_shape_check = trips.groupby('route_id')['shape_id'].nunique()
non_unique_shapes = unique_shape_check[unique_shape_check > 1]

if not non_unique_shapes.empty:
    print("Route IDs with non-unique Shape IDs:", non_unique_shapes.index.tolist())
else:
    print("Each Route ID has a unique Shape ID.")

Each Route ID has a unique Shape ID.

***Rationale***:  
   Each shape represents a unique geometric path followed by a specific route. Ensuring a unique `route_id` for each `shape_id` guarantees that the spatial geometry of a route is distinct and correctly associated with a specific route.

##### 2.5.2 Check the existance 1:N relationship between `route_id` and `trip_id` in trips

In [14]:
# For checking routes with multiple trips
route_trip_counts = trips.groupby("route_id")['trip_id'].nunique()

display(Markdown("##### Checking routes with multiple trips"))
routes_with_multiple_trips = route_trip_counts[route_trip_counts > 1] # Routes with multiple trips
if not routes_with_multiple_trips.empty:
    print("Route IDs with multiple trips associated: ", routes_with_multiple_trips.index.tolist())
else:
    print("Each route is associated with the same trip.")

##### Checking routes with multiple trips

Route IDs with multiple trips associated:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]

In [15]:
# For checking trips with multiple routes
trip_route_counts = trips.groupby("trip_id")['route_id'].nunique()

display(Markdown("##### Checking trips with multiple routes"))
trips_with_multiple_routes = trip_route_counts[trip_route_counts > 1] # Trips with multiple routes
if not trips_with_multiple_routes.empty:
    print("Trip IDs with multiple routes associated: ", trips_with_multiple_routes.index.tolist())
else:
    print("Each trip is associated with the same route.")

##### Checking trips with multiple routes

Each trip is associated with the same route.

***Rationale***:  
   A single route can have multiple trips (e.g., different times of the day). However, each trip should belong to only one route. Validating this ensures that routes are not duplicated across different trips and that trips correctly belong to only one route, maintaining a logical and organized structure.

##### 2.5.3 Check the relationship between `trip_id` and `stop_id` in `stop_times`

In [16]:
# Checking trips with multiple stops
trip_stop_counts = stop_times.groupby("trip_id")['stop_id'].nunique()

display(Markdown("##### Checking trips with multiple stops"))
trips_with_multiple_stops = trip_stop_counts[trip_stop_counts > 1] # Trips with multiple stops
if not trips_with_multiple_stops.empty:
    print("Trip count with multiple stops associated: ", trips_with_multiple_stops.count())
else:
    print("Each trip is associated with a single stop.")

##### Checking trips with multiple stops

Trip count with multiple stops associated:  5438

In [17]:
# Checking stops with multiple trips
stop_trip_counts = stop_times.groupby("stop_id")['trip_id'].nunique()

display(Markdown("##### Checking stops with multiple trips"))
stops_with_multiple_trips = stop_trip_counts[stop_trip_counts > 1] # Stops with multiple trips
if not stops_with_multiple_trips.empty:
    print("Stop count with multiple trips associated: ", stops_with_multiple_trips.count())
else:
    print("Each stop is associated with a single trip.")

##### Checking stops with multiple trips

Stop count with multiple trips associated:  262

***Rational***:  
Trips involve multiple stops, and stops can be part of multiple trips. Validating the 1:N and N:1 relationships between trips and stops ensures that stops are accurately mapped to the trips they are part of, confirming the correctness of the stop sequence and travel data across various trips.

##### 2.5.4 Geospatial Data Check (Latitude and Longitude)

In [18]:
# Check latitude and longitude ranges for stops
invalid_stops_lat = stops[(stops['stop_lat'] < -90) | (stops['stop_lat'] > 90)]
invalid_stops_lon = stops[(stops['stop_lon'] < -180) | (stops['stop_lon'] > 180)]

# Check latitude and longitude ranges for shapes
invalid_shapes_lat = shapes[(shapes['shape_pt_lat'] < -90) | (shapes['shape_pt_lat'] > 90)]
invalid_shapes_lon = shapes[(shapes['shape_pt_lon'] < -180) | (shapes['shape_pt_lon'] > 180)]

# Print results
if all([invalid_stops_lat.empty, invalid_stops_lon.empty, invalid_shapes_lat.empty, invalid_shapes_lon.empty]):
    print("No invalid geospatial data found in the dataset, good for analysis.")
else:
    print("Some invalid geospatial data found in the dataset.")
    if not invalid_stops_lat.empty:
        print(" - Invalid latitude values found in stops:")
        print(invalid_stops_lat[['stop_id', 'stop_lat']])
    if not invalid_stops_lon.empty:
        print(" - Invalid longitude values found in stops:")
        print(invalid_stops_lon[['stop_id', 'stop_lon']])
    if not invalid_shapes_lat.empty:
        print(" - Invalid latitude values found in shapes:")
        print(invalid_shapes_lat[['shape_id', 'shape_pt_lat']])
    if not invalid_shapes_lon.empty:
        print(" - Invalid longitude values found in shapes:")
        print(invalid_shapes_lon[['shape_id', 'shape_pt_lon']])

No invalid geospatial data found in the dataset, good for analysis.

***Rational***:  
This check ensures that the latitude and longitude values in the `stops` and `shapes` datasets fall within valid geographic ranges. Latitude must be between -90 and 90 degrees, and longitude must be between -180 and 180 degrees. Validating these coordinates is crucial for accurate mapping and spatial analysis, as invalid values can lead to incorrect geographic representations and distort the results of subsequent analyses.

##### 2.5.5 Time Data Check (Arrival and Departure Times)

In [19]:
# Check time-related fields in stop_times
invalid_arrival_times = stop_times[~stop_times['arrival_time'].str.match(r'^\d{2}:\d{2}:\d{2}$')]
invalid_departure_times = stop_times[~stop_times['departure_time'].str.match(r'^\d{2}:\d{2}:\d{2}$')]

# Print results
if all([invalid_arrival_times.empty, invalid_departure_times.empty]):
    print("No invalid time data found in the dataset, good for analysis.")
else:
    print("Some invalid time data found in the dataset.")
    if not invalid_arrival_times.empty:
        print(" - Invalid arrival times found:")
        print(invalid_arrival_times[['trip_id', 'arrival_time']])
    if not invalid_departure_times.empty:
        print(" - Invalid departure times found:")
        print(invalid_departure_times[['trip_id', 'departure_time']])

No invalid time data found in the dataset, good for analysis.

***Rational***:   
This check validates the time-related fields in the `stop_times` dataset to ensure they adhere to expected formats and logical constraints. This validation is essential for maintaining the integrity of scheduling and ensuring that travel data is accurate, thereby supporting reliable analysis of transit operations and performance.

#### Data Merging

In [20]:
# stop_times
# trip_id | arrival_time | departure_time | stop_id | stop_sequence | shape_dist_traveled
# trip_id | station_id | station_sequence | arrival_time | departure_time | stop_duration | shape_dist_traveled

stops_stop_times = pd.merge(stop_times, stops, on="stop_id", how="inner")

stops_stop_times.info()
stops_stop_times.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128434 entries, 0 to 128433
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   trip_id              128434 non-null  int64
 1   arrival_time         128434 non-null  object
 2   departure_time       128434 non-null  object
 3   stop_id              128434 non-null  int64
 4   stop_sequence        128434 non-null  int64
 5   shape_dist_traveled  128434 non-null  float64
 6   stop_name            128434 non-null  object
 7   stop_lat             128434 non-null  float64
 8   stop_lon             128434 non-null  float64
dtypes: float64(3), int64(3), object(3)
memory usage: 8.8+ MB

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,shape_dist_traveled,stop_name,stop_lat,stop_lon
0,0,05:28:08,05:28:28,21,0,0.000,Rithala,28.720821,77.105042
1,0,05:30:58,05:31:18,20,1,1202.405,Rohini West,28.715008,77.115746

In [21]:
routes_trips = pd.merge(routes, trips, on="route_id", how="inner")

routes_trips.info()
routes_trips.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5438 entries, 0 to 5437
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   route_id         5438 non-null   int64
 1   route_long_name  5438 non-null   object
 2   service_id       5438 non-null   object
 3   trip_id          5438 non-null   int64
 4   shape_id         5438 non-null   object
dtypes: int64(2), object(3)
memory usage: 212.6+ KB

,route_id,route_long_name,service_id,trip_id,shape_id
0,33,RAPID_Phase 3 (Rapid Metro) to Sector 55-56 (R...,weekday,16449,shp_1_24
1,33,RAPID_Phase 3 (Rapid Metro) to Sector 55-56 (R...,weekday,16450,shp_1_24

In [22]:
routes_shapes = pd.merge(shapes, routes_trips[['route_id', 'route_long_name', 'shape_id']], on="shape_id", how="inner")

routes_shapes = routes_shapes.drop_duplicates().reset_index(drop=True)

routes_shapes.info()
routes_shapes.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6643 entries, 0 to 6642
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   shape_id             6643 non-null   object
 1   shape_pt_lat         6643 non-null   float64
 2   shape_pt_lon         6643 non-null   float64
 3   shape_pt_sequence    6643 non-null   int64
 4   shape_dist_traveled  6643 non-null   float64
 5   route_id             6643 non-null   int64
 6   route_long_name      6643 non-null   object
dtypes: float64(3), int64(2), object(2)
memory usage: 363.4+ KB

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled,route_id,route_long_name
0,shp_1_2,28.615887,77.022461,1,0.00,13,GRAY_Dwarka to Dhansa Bus Stand
1,shp_1_2,28.616341,77.022499,2,50.51,13,GRAY_Dwarka to Dhansa Bus Stand

In [23]:
routes_stops = pd.merge(stops_stop_times, routes_trips, how='left', on='trip_id')

routes_stops.info()
routes_stops.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128434 entries, 0 to 128433
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   trip_id              128434 non-null  int64
 1   arrival_time         128434 non-null  object
 2   departure_time       128434 non-null  object
 3   stop_id              128434 non-null  int64
 4   stop_sequence        128434 non-null  int64
 5   shape_dist_traveled  128434 non-null  float64
 6   stop_name            128434 non-null  object
 7   stop_lat             128434 non-null  float64
 8   stop_lon             128434 non-null  float64
 9   route_id             128434 non-null  int64
 10  route_long_name      128434 non-null  object
 11  service_id           128434 non-null  object
 12  shape_id             128434 non-null  object
dtypes: float64(3), int64(4), object(6)
memory usage: 12.7+ MB

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,shape_dist_traveled,stop_name,stop_lat,stop_lon,route_id,route_long_name,service_id,shape_id
0,0,05:28:08,05:28:28,21,0,0.000,Rithala,28.720821,77.105042,0,RED_Rithala to Dilshad Garden,weekday,shp_1_30
1,0,05:30:58,05:31:18,20,1,1202.405,Rohini West,28.715008,77.115746,0,RED_Rithala to Dilshad Garden,weekday,shp_1_30

In [24]:
routes_stops_truncated = routes_stops.drop(['trip_id', 'arrival_time', 'departure_time', 'shape_dist_traveled', 'stop_lat', 'stop_lon', 'service_id'], axis=1)
routes_stops_truncated.drop_duplicates(inplace=True)

routes_stops_truncated.info()
routes_stops_truncated.head(2)

<class 'pandas.core.frame.DataFrame'>
Index: 830 entries, 0 to 125534
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   stop_id          830 non-null    int64
 1   stop_sequence    830 non-null    int64
 2   stop_name        830 non-null    object
 3   route_id         830 non-null    int64
 4   route_long_name  830 non-null    object
 5   shape_id         830 non-null    object
dtypes: int64(3), object(3)
memory usage: 45.4+ KB

,stop_id,stop_sequence,stop_name,route_id,route_long_name,shape_id
0,21,0,Rithala,0,RED_Rithala to Dilshad Garden,shp_1_30
1,20,1,Rohini West,0,RED_Rithala to Dilshad Garden,shp_1_30

##### 2.6.1 Create Data Lookup Indices for fast lookup

* Map `route_id` to `shape_id` (since each route has a unique shape).
* Map `route_id` to `trip_ids`.

In [25]:
# route_id -> unique shape_id 
route_shape_lookup = routes_shapes[['route_id', 'shape_id']].drop_duplicates().set_index('route_id').sort_index()['shape_id']

# route_id -> unique trip_id
route_trip_lookup = routes_trips[['route_id', 'trip_id']].drop_duplicates().set_index('route_id').sort_index()['trip_id']

In [26]:
display(Markdown("##### Route_id to Shape_id Lookup"), route_shape_lookup.head())
print('Shape: {}'.format(route_shape_lookup.shape))

display(Markdown("##### Route_id to Trip_id Lookup"), route_trip_lookup.head())
print('Shape: {}'.format(route_trip_lookup.shape))

##### Route_id to Shape_id Lookup

route_id
0    shp_1_30
1    shp_1_32
2    shp_1_13
3    shp_1_25
4     shp_1_9
Name: shape_id, dtype: object

Shape: (36,)

##### Route_id to Trip_id Lookup

route_id
0    109
0      0
0      1
0     10
0    101
Name: trip_id, dtype: int64

Shape: (5438,)

* Get unique combinations of `stop_id` and `route_id` by merging `stop_times` and `trips`.

In [27]:
# route_id -> stop_id
route_stop_lookup = routes_stops[['route_id', 'stop_id']].drop_duplicates().set_index('route_id').sort_index()['stop_id']

# stop_id -> route_id
stop_route_lookup = routes_stops[['route_id', 'stop_id']].drop_duplicates().set_index('stop_id').sort_index()['route_id']

In [28]:
display(Markdown("##### Route_id to Stop_id Lookup"), route_stop_lookup.head())
display(Markdown("##### Stop_id to Route_id Lookup"), stop_route_lookup.head())

##### Route_id to Stop_id Lookup

route_id
0    21
0    20
0    19
0    18
0    17
Name: stop_id, dtype: int64

##### Stop_id to Route_id Lookup

stop_id
1    18
1     1
1    19
1     0
2     1
Name: route_id, dtype: int64

In [29]:
# Select relevant columns and group by route_id to get a list of stops for each route
routewise_stops = route_stop_lookup.reset_index()[['route_id', 'stop_id']].\
    groupby('route_id')['stop_id'].apply(lambda stops: list(set(stops))).sort_index()

# Select relevant columns and group by stop_id to get a list of route_ids
stopwise_routes = route_stop_lookup.reset_index()[['stop_id', 'route_id']].\
    groupby('stop_id')['route_id'].apply(lambda route: list(set(route))).sort_index()

In [30]:
display(Markdown("##### Route_id to list of Stop_id"), routewise_stops.head())
display(Markdown("##### Stop_id to list of Route_id"), stopwise_routes.head())

##### Route_id to list of Stop_id

route_id
0    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
1    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
2    [8, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46...
3    [8, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54...
4             [64, 65, 66, 67, 68, 69, 70, 71, 62, 63]
Name: stop_id, dtype: object

##### Stop_id to list of Route_id

stop_id
1            [0, 1, 18, 19]
2            [0, 1, 18, 19]
3            [0, 1, 18, 19]
4            [0, 1, 18, 19]
5    [0, 1, 11, 18, 19, 29]
Name: route_id, dtype: object

In [31]:
stop_sequence_lookup = routes_stops[['trip_id', 'stop_id', 'stop_sequence', 'route_id', 'shape_id']].drop_duplicates()

In [32]:
display(Markdown("##### Stop Sequence lookup towards trip_id, route_id, shape_id and stop_id"), stop_sequence_lookup.head())

##### Stop Sequence lookup towards trip_id, route_id, shape_id and stop_id

   trip_id  stop_id  stop_sequence  route_id  shape_id
0        0       21              0         0  shp_1_30
1        0       20              1         0  shp_1_30
2        0       19              2         0  shp_1_30
3        0       18              3         0  shp_1_30
4        0       17              4         0  shp_1_30

#### 2.7 Feature Engineering

##### 2.7.1 Stations Feature Engineering

In [33]:
# stops -> stations.csv
# stop_id | stop_name | stop_lat | stop_lon
# station_id | station_name | metro_line | routes [] | latitude | longitude | station_type [Terminal, Normal, Interchange]

# Start with the route_stop_lookup to get all the routes a stop is on (this will help us to gather information about the different metro lines)
stations_df = route_stop_lookup.copy().reset_index()

# To get the stops data
stations_df = stations_df.merge(stops, on="stop_id")

# To get the routes data especially the route_long_name
stations_df = stations_df.merge(routes, on="route_id")

# Get the color coded metro_line extracted from the route_long_name
stations_df['metro_line'] = stations_df['route_long_name'].apply(lambda x: x.split('_')[0].capitalize() + ' Line')

# Drop columns that are no more required
stations_df.drop(['route_id', 'route_long_name'], axis=1, inplace=True)

# Drop duplicated rows (This will ensure that only those stations occur more than once that are on more than one color coded line
stations_df.drop_duplicates(inplace=True)

# Add a routes[] column by merging the data with a stopwise_routes
stopwise_routes_df = stopwise_routes.reset_index()
stations_df['routes'] = stations_df['stop_id'].apply(lambda x: stopwise_routes.loc[x])

# Adding station_type [Terminal, Normal, Interchage]
# Default Normal | If station_id occurs more than once in dataframe - Interchange | If route starts or ends with the station_id & not an interchange - Terminal

# Step 1: Mark all stations as 'Normal' by default
stations_df['station_type'] = 'Normal'

# Step 2: Count occurrences of each station_id
station_counts = stations_df['stop_id'].value_counts()

# Any station with more than one occurrence is an interchange
interchange_stations = station_counts[station_counts > 1].index

# Update the 'station_type' for interchange stations
stations_df.loc[stations_df['stop_id'].isin(interchange_stations), 'station_type'] = 'Interchange'

# Step 3: Identify Terminal stations from the routes dataframe
# Assuming routes_df has 'route_start' and 'route_end' columns referring to station_id
terminal_stations = routes['route_long_name']
terminal_stations['route_start'] = routes['route_long_name'].apply(lambda x: x.split('_')[1].split(' to ')[0])
terminal_stations['route_end'] = routes['route_long_name'].apply(lambda x: x.split('_')[1].split(' to ')[1])
terminal_stations = pd.concat([terminal_stations['route_start'], terminal_stations['route_end']]).unique()

# Step 4: Mark terminals, but avoid changing stations already marked as Interchange
# Update only those that are still marked as 'Normal'
stations_df.loc[(stations_df['stop_name'].isin(terminal_stations)) & (stations_df['station_type'] == 'Normal'), 'station_type'] = 'Terminal'

# Step 5: Identify stations that are both Terminals and Interchanges
# These should be marked as 'Terminal/Interchange'
stations_df.loc[(stations_df['stop_name'].isin(terminal_stations)) & (stations_df['stop_id'].isin(interchange_stations)), 'station_type'] = 'Terminal/Interchange'


# Rename and Rearrange Columns to match desired structure
stations_df.rename(columns={'stop_id': 'station_id', 'stop_name': 'station_name', 'stop_lat': 'latitude', 'stop_lon': 'longitude'}, inplace=True)
stations_df = stations_df[['station_id', 'station_name', 'metro_line', 'routes', 'latitude', 'longitude', 'station_type']]

In [34]:
display(stations_df.head())
print('Shape: ', stations_df.shape[0])

,station_id,station_name,metro_line,routes,latitude,longitude,station_type
0,21,Rithala,Red Line,"[0, 1, 18, 19]",28.720821,77.105042,Terminal
1,20,Rohini West,Red Line,"[0, 1, 18, 19]",28.715008,77.115746,Normal
2,19,Rohini East,Red Line,"[0, 1, 18, 19]",28.707941,77.125732,Normal
3,18,Pitampura,Red Line,"[0, 1, 18, 19]",28.703180,77.132355,Normal
4,17,Kohat Enclave,Red Line,"[0, 1, 18, 19]",28.697943,77.140465,Normal

Shape:  286

##### 2.7.2 Routes Feature Engineering

In [35]:
# routes -> routes.csv
# route_id | route_long_name
# route_id | metro_line | route_name | route_start | route_end | route_type [Complete, Partial] | stations (stops) | terminalAt | interachangeAt | shape_id

# to be implemented - terminalAt, interchangeAt
routes_df = pd.DataFrame()

routes_df['route_id'] = routes['route_id']

# Get the color coded metro_line extracted from the route_long_name
routes_df['metro_line'] = routes['route_long_name'].apply(lambda x: x.split('_')[0].capitalize() + ' Line')

# Feature route_long_name to extract route_name, route_start and route_end
routes_df['route_name'] = routes['route_long_name'].apply(lambda x: x.split('_')[1])
routes_df['route_start'] = routes['route_long_name'].apply(lambda x: x.split('_')[1].split(' to ')[0])
routes_df['route_end'] = routes['route_long_name'].apply(lambda x: x.split('_')[1].split(' to ')[1])

# Create a new column route_type [Complete, Partial] in route_df
complete_routes = [1, 2, 5, 6, 7, 10, 11, 12, 13, 14, 15, 19,20,23, 24, 25, 28, 29, 30, 31, 32, 33]
routes_df['route_type'] = routes_df['route_id'].apply(lambda x: 'Complete' if x in complete_routes else 'Partial')

# Using routewise_stops get list of stations on each route
routes_df['stations'] = routes_df['route_id'].apply(lambda x: routewise_stops.iloc[x])

# Create a dictionary for quick lookup of stop_id to stop_name
stops_dict = dict(zip(stops['stop_id'], stops['stop_name']))

# Create terminalAt column using route_start and route_end
def get_terminal_info(route_start, route_end, stops_dict):
    # Find the stop_id for route_start
    start_id = [key for key, value in stops_dict.items() if value == route_start]
    start_info = (start_id[0], route_start) if start_id else ('Unknown', 'Unknown')  # Get the stop_id or Unknown

    # Find the stop_id for route_end
    end_id = [key for key, value in stops_dict.items() if value == route_end]
    end_info = (end_id[0], route_end) if end_id else ('Unknown', 'Unknown')  # Get the stop_id or Unknown

    return [start_info, end_info]

# Apply the function to create terminalAt
#routes_df['terminalAt'] = routes_df.apply(
#    lambda row: get_terminal_info(row['route_start'], row['route_end'], stops_dict), axis=1
#)

# Similarly, for interchangeAt column with both stop_id and stop_name
routes_df['interchangeStations'] = routes_df['stations'].apply(
    lambda x: [stops_dict.get(station, 'Unknown') for station in x if station in interchange_stations]
)

# Using route_shape_lookup to map shape_id to each route_id
routes_df['shape_id'] = routes_df['route_id'].apply(lambda x: route_shape_lookup.iloc[x])

# Sorting values by route_id and preparing for display
routes_df = routes_df.sort_values('route_id').reset_index(drop=True)

In [36]:
display(routes_df)
print('Shape: ', routes_df.shape[0])

routes_df.info()

,route_id,metro_line,route_name,route_start,route_end,route_type,stations,interchangeStations,shape_id
0,0,Red Line,Rithala to Dilshad Garden,Rithala,Dilshad Garden,Partial,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[Welcome, Kashmere Gate, Inderlok, Netaji Suba...",shp_1_30
1,1,Red Line,Rithala to Shaheed Sthal (New Bus Adda),Rithala,Shaheed Sthal (New Bus Adda),Complete,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[Welcome, Kashmere Gate, Inderlok, Netaji Suba...",shp_1_32
2,2,Yellow Line,Huda City Centre to Samaypur Badli,Huda City Centre,Samaypur Badli,Complete,"[8, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46...","[Kashmere Gate, Azadpur, New Delhi, Rajiv Chow...",shp_1_13
3,3,Yellow Line,Qutab Minar to Vishwavidyalaya,Qutab Minar,Vishwavidyalaya,Partial,"[8, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54...","[Kashmere Gate, New Delhi, Rajiv Chowk, Centra...",shp_1_25
4,4,Yellow Line,Huda City Centre to Qutab Minar,Huda City Centre,Qutab Minar,Partial,"[64, 65, 66, 67, 68, 69, 70, 71, 62, 63]",[Sikanderpur],shp_1_9
5,5,Blue Line,Dwarka Sector - 21 to Noida Electronic City,Dwarka Sector - 21,Noida Electronic City,Complete,"[233, 234, 235, 236, 237, 238, 50, 79, 80, 81,...","[Rajiv Chowk, Botanical Garden, Mayur Vihar-I,...",shp_1_14
6,6,Blue Line,Dwarka Sector - 21 to Vaishali,Dwarka Sector - 21,Vaishali,Complete,"[50, 72, 73, 74, 75, 76, 77, 78, 89, 90, 91, 9...","[Rajiv Chowk, Anand Vihar, Karkarduma, Mandi H...",shp_1_12
7,7,Green Line,Kirti Nagar to Brigadier Hoshiyar Singh,Kirti Nagar,Brigadier Hoshiyar Singh,Complete,"[22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 3...",[Kirti Nagar],shp_1_17
8,8,Green Line,Inderlok to Brigadier Hoshiyar Singh,Inderlok,Brigadier Hoshiyar Singh,Partial,"[13, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 3...",[Inderlok],shp_1_11
9,9,Violet Line,Kashmere Gate to Badarpur Border,Kashmere Gate,Badarpur Border,Partial,"[128, 129, 130, 131, 132, 133, 134, 135, 8, 13...","[Kalkaji Mandir, Kashmere Gate, Central Secret...",shp_1_15
10,10,Violet Line,Kashmere Gate to Raja Nahar Singh,Kashmere Gate,Raja Nahar Singh,Complete,"[128, 129, 130, 131, 132, 133, 134, 135, 8, 13...","[Kalkaji Mandir, Kashmere Gate, Central Secret...",shp_1_19
11,11,Pink Line,Majlis Park to Shiv Vihar,Majlis Park,Shiv Vihar,Complete,"[5, 16, 41, 173, 174, 175, 176, 177, 178, 179,...","[Welcome, Netaji Subash Place, Azadpur, Dilli ...",shp_1_26
12,12,Magenta Line,Janak Puri West to Botanical Garden,Janak Puri West,Botanical Garden,Complete,"[131, 161, 162, 163, 164, 165, 166, 167, 182, ...","[Kalkaji Mandir, Hauz Khas, Botanical Garden, ...",shp_1_16
13,13,Gray Line,Dwarka to Dhansa Bus Stand,Dwarka,Dhansa Bus Stand,Complete,"[240, 113, 241, 239]",[Dwarka],shp_1_2
14,14,Orange/airport Line,Dwarka Sector - 21 to New Delhi,Dwarka Sector - 21,New Delhi,Complete,"[49, 121, 154, 155, 156, 157]","[New Delhi, Dwarka Sector - 21]",shp_1_7
15,15,Rapid Line,Sector 55-56 (Rapid Metro) to Phase 3 (Rapid M...,Sector 55-56 (Rapid Metro),Phase 3 (Rapid Metro),Complete,"[68, 168, 169, 170, 171, 172, 148, 149, 150, 1...",[Sikanderpur],shp_1_29
16,16,Aqua Line,Noida Sector 51 to Noida Sector 142,Noida Sector 51,Noida Sector 142,Partial,"[500, 501, 502, 503, 504, 505, 506, 507, 508]",[],shp_1_23
17,17,Aqua Line,Noida Sector 142 to Depot Station,Noida Sector 142,Depot Station,Partial,"[512, 513, 514, 515, 516, 517, 518, 519, 520, ...",[],shp_1_21
18,18,Red Line,Dilshad Garden to Rithala,Dilshad Garden,Rithala,Partial,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[Welcome, Kashmere Gate, Inderlok, Netaji Suba...",shp_1_6
19,19,Red Line,Shaheed Sthal (New Bus Adda) to Rithala,Shaheed Sthal (New Bus Adda),Rithala,Complete,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[Welcome, Kashmere Gate, Inderlok, Netaji Suba...",shp_1_33
20,20,Yellow Line,Samaypur Badli to Huda City Centre,Samaypur Badli,Huda City Centre,Complete,"[8, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46...","[Kashmere Gate, Azadpur, New Delhi, Rajiv Chow...",shp_1_31
21,21,Yellow Line,Vishwavidyalaya to Qutab Minar,Vishwavidyalaya,Qutab Minar,Partial,"[8, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54...","[Kashmere Gate, New Delhi, Rajiv Chowk, Centra...",shp_1_34
22,22,Yellow Line,Qutab Minar to Huda City Centre,Qutab Minar,Huda City Centre,Partial,"[64, 65, 66, 67, 68, 69, 70, 71, 62, 63]",[Sikanderpur],shp_1_22
23,23,Blue Line,Noida Electronic City to Dwarka Sector - 21,Noida Electronic City,Dwarka Sector - 21,Complete,"[50, 119, 120, 79, 80, 81, 82, 83, 84, 85, 86,...","[Rajiv Chowk, Botanical Garden, Mayur Vihar-I,...",shp_1_28
24,24,Blue Line,Vaishali to Dwarka Sector - 21,Vaishali,Dwarka Sector - 21,Complete,"[50, 72, 73, 74, 75, 76, 77, 78, 89, 90, 91, 9...","[Rajiv Chowk, Anand Vihar, Karkarduma, Mandi H...",shp_1_36
25,25,Green Line,Brigadier Hoshiyar Singh to Kirti Nagar,Brigadier Hoshiyar Singh,Kirti Nagar,Complete,"[22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 3...",[Kirti Nagar],shp_1_4
26,26,Green Line,Brigadier Hoshiyar Singh to Inderlok,Brigadier Hoshiyar Singh,Inderlok,Partial,"[13, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 3...",[Inderlok],shp_1_3
27,27,Violet Line,Badarpur Border to Kashmere Gate,Badarpur Border,Kashmere Gate,Partial,"[128, 129, 130, 131, 132, 133, 134, 135, 136, ...","[Kalkaji Mandir, Kashmere Gate, Central Secret...",shp_1_5
28,28,Violet Line,Raja Nahar Singh to Kashmere Gate,Raja Nahar Singh,Kashmere Gate,Complete,"[128, 129, 130, 131, 132, 133, 134, 135, 136, ...","[Kalkaji Mandir, Kashmere Gate, Central Secret...",shp_1_27
29,29,Pink Line,Shiv Vihar to Majlis Park,Shiv Vihar,Majlis Park,Complete,"[5, 16, 41, 173, 174, 175, 176, 177, 178, 179,...","[Welcome, Netaji Subash Place, Azadpur, Dilli ...",shp_1_35
30,30,Magenta Line,Botanical Garden to Janak Puri West,Botanical Garden,Janak Puri West,Complete,"[131, 161, 162, 163, 164, 165, 166, 167, 182, ...","[Kalkaji Mandir, Hauz Khas, Botanical Garden, ...",shp_1_8
31,31,Gray Line,Dhansa Bus Stand to Dwarka,Dhansa Bus Stand,Dwarka,Complete,"[240, 241, 113, 239]",[Dwarka],shp_1_1
32,32,Orange/airport Line,New Delhi to Dwarka Sector - 21,New Delhi,Dwarka Sector - 21,Complete,"[49, 121, 154, 155, 156, 157]","[New Delhi, Dwarka Sector - 21]",shp_1_18
33,33,Rapid Line,Phase 3 (Rapid Metro) to Sector 55-56 (Rapid M...,Phase 3 (Rapid Metro),Sector 55-56 (Rapid Metro),Complete,"[68, 168, 169, 170, 171, 172, 148, 149, 150, 1...",[Sikanderpur],shp_1_24
34,34,Aqua Line,Noida Sector 142 to Noida Sector 51,Noida Sector 142,Noida Sector 51,Partial,"[500, 501, 502, 503, 504, 505, 506, 507, 508]",[],shp_1_20
35,35,Aqua Line,Depot Station to Noida Sector 142,Depot Station,Noida Sector 142,Partial,"[512, 513, 514, 515, 516, 517, 518, 519, 520, ...",[],shp_1_10

Shape:  36
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   route_id             36 non-null     int64
 1   metro_line           36 non-null     object
 2   route_name           36 non-null     object
 3   route_start          36 non-null     object
 4   route_end            36 non-null     object
 5   route_type           36 non-null     object
 6   stations             36 non-null     object
 7   interchangeStations  36 non-null     object
 8   shape_id             36 non-null     object
dtypes: int64(1), object(8)
memory usage: 2.7+ KB

##### 2.7.3 Stop_times Feature Engineering

In [37]:
# stop_times
# trip_id | arrival_time | departure_time | stop_id | stop_sequence | shape_dist_traveled
# trip_id | station_id | station_sequence | arrival_time | departure_time | shape_dist_traveled

stop_times_df = stops_stop_times.copy()

# Renaming and restructuring stop_times dataframe
stop_times_df.rename(columns={'stop_id': 'station_id', 'stop_name': 'station_name', 'stop_lat': 'latitude', 'stop_lon': 'longitude', 'stop_sequence': 'station_sequence'}, inplace=True)
stop_times_df = stop_times_df[['trip_id', 'station_id', 'station_sequence', 'arrival_time', 'departure_time', 'shape_dist_traveled']]

display(stations_df.head())
print('Shape: ', stop_times_df.shape[0])

stations_df.info()

,station_id,station_name,metro_line,routes,latitude,longitude,station_type
0,21,Rithala,Red Line,"[0, 1, 18, 19]",28.720821,77.105042,Terminal
1,20,Rohini West,Red Line,"[0, 1, 18, 19]",28.715008,77.115746,Normal
2,19,Rohini East,Red Line,"[0, 1, 18, 19]",28.707941,77.125732,Normal
3,18,Pitampura,Red Line,"[0, 1, 18, 19]",28.703180,77.132355,Normal
4,17,Kohat Enclave,Red Line,"[0, 1, 18, 19]",28.697943,77.140465,Normal

Shape:  128434
<class 'pandas.core.frame.DataFrame'>
Index: 286 entries, 0 to 414
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_id    286 non-null    int64
 1   station_name  286 non-null    object
 2   metro_line    286 non-null    object
 3   routes        286 non-null    object
 4   latitude      286 non-null    float64
 5   longitude     286 non-null    float64
 6   station_type  286 non-null    object
dtypes: float64(2), int64(1), object(4)
memory usage: 17.9+ KB

##### 2.7.4 Trips Feature Engineering

In [38]:
# trips
# route_id | service_id | trip_id | shape_id
# route_id | service_type |  trip_id | shape_id

trips_df = trips.copy()
trips_df['service_type'] = trips_df['service_id'].apply(lambda x: 1 if x == 'weekday' else 0)

trips_df = trips_df[['route_id', 'service_type', 'trip_id', 'shape_id']]

display(trips_df.head())
print('Shape: ', trips_df.shape[0])

trips_df.info()

   route_id  service_type  trip_id  shape_id
0         0             1        0  shp_1_30
1         0             1        1  shp_1_30
2         0             1       10  shp_1_30
3         0             1      100  shp_1_30
4         2             1     1000  shp_1_13

Shape:  5438
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5438 entries, 0 to 5437
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   route_id      5438 non-null   int64
 1   service_type  5438 non-null   int64
 2   trip_id       5438 non-null   int64
 3   shape_id      5438 non-null   object
dtypes: int64(3), object(1)
memory usage: 170.1+ KB

##### 2.7.5 Shapes Feature Engineering

In [39]:
# shapes
# shape_id | route_id | metro_line |  shape_pt_sequence | shape_pt_lat | shape_pt_lon | shape_dist_traveled

shapes_df = routes_shapes.copy()

# Get the color coded metro_line extracted from the route_long_name
shapes_df['metro_line'] = shapes_df['route_long_name'].apply(lambda x: x.split('_')[0].capitalize() + ' Line')

# Drop Duplicates
shapes_df.drop_duplicates(inplace=True)

# Drop route_long_name 
shapes_df.drop('route_long_name', axis=1, inplace=True)


shapes_df = shapes_df[['shape_id', 'route_id', 'metro_line', 'shape_pt_sequence', 'shape_pt_lat', 'shape_pt_lon', 'shape_dist_traveled']]

display(shapes_df.head())
print('Shape: ', shapes_df.shape[0])

,shape_id,route_id,metro_line,shape_pt_sequence,shape_pt_lat,shape_pt_lon,shape_dist_traveled
0,shp_1_2,13,Gray Line,1,28.615887,77.022461,0.000
1,shp_1_2,13,Gray Line,2,28.616341,77.022499,50.510
2,shp_1_2,13,Gray Line,3,28.617985,77.022453,233.586
3,shp_1_2,13,Gray Line,4,28.618252,77.022453,263.487
4,shp_1_2,13,Gray Line,5,28.618425,77.022438,282.857

Shape:  6643

#### 2.9 Export Processed Data

In [40]:
# Create directory if it doesn't exist
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

routes_df.to_csv(os.path.join(output_dir, 'routes.csv'), index=False)
stations_df.to_csv(os.path.join(output_dir, 'stations.csv'), index=False)
trips_df.to_csv(os.path.join(output_dir, 'trips.csv'), index=False)
shapes_df.to_csv(os.path.join(output_dir, 'shapes.csv'), index=False)
stop_times_df.to_csv(os.path.join(output_dir, 'stop_times.csv'), index=False)